@media screen and (max-width: 1024px)
{
    @font-face {
        font-family: 'Raleway';
        src: url('static/Raleway-Regular.ttf');
        src: url('static/Raleway-Bold.ttf');
      }
      
      body { 
        width: 100%;
        height: 100%;
        border: 2px solid green;
      }
      
      header {
        display: flex;
        flex-direction: column;
      }
      
      p {
        font-size: 0.9em;
      }
      
      h1 {
        font-size: 1.5em;
      }
      
      h2 {
        font-size: 1.0em;
      }
      
      h3 {
        font-size: 1em;
      }
      
      #top {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      
      #logo {
        width: 7em;
      }
      
      #haut_gauche {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 12em;
        /* border: 1px solid red; */
        margin-bottom: 1em;
      }
      
      #haut_gauche h1 {
        position: relative;
        border: 1px solid green;
      }
      
      #haut_gauche p {
        /* border: 1px solid blue; */
      }
      
      #deux_premières_phrases {
        margin-top: 2em;
      }
      
      #haut_droite {
        display: flex;
        justify-content: space-between;
        width: 20em;
      }
      
      #haut_droite p a:focus {
        color:  #0065FC;
        font-weight: bold;
      }
      
      a:link {
        text-decoration: none;
        color: black;
      }
      
      a:visited {
        color: black;
      }
      
      #sinscrire {
        font-family: 'Raleway';
        font-weight: bold;
        color: #0065FC;
      }
      
      #barre_recherche {
        display: flex;
        height: 2.75em; 
      }
      
      #marker {
        background-color: #F2F2F2;
        width: 1em;
        padding-right: 1em;
        padding-left: 1em;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
      }
      
      #recherche {
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 1em;
        border: 1px solid #F2F2F2;
        text-align: center;
      }
      
      button {
        background-color: #0065FC;
        color: white;
        width: 7.5em;
        border-top-right-radius: 0.75em;
        border-bottom-right-radius: 0.75em;
        border: white;
        font-size: 1em;
        font-family: 'Raleway';
      }
      
      button h2 {
        position: relative;
        bottom: 0.1em;
      }
      
      /* ------------------------------------------------------------ filtres */
      
      #filtres {
        display: flex;
        justify-content: space-between;
        width: 55em;
      }  
      
      /* -------------------------------------- filtre_éco */
      
      #filtre_éco {
        border: 0.2em solid #F2F2F2;
        border-radius: 2em;
        width: 11em;
        height: 2.5em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: justify;
        z-index: 4;
      }
      
      #filtre_éco:hover {
        border: 0.2em solid #F2F2F2;
        background-color: #0065FC;
        border-radius: 2em;
        width: 11em;
        height: 2.5em;
        flex-direction: row-reverse;
        justify-content: space-between;
        color: white;
      }
      
      #filtre_éco h2 {
        position: relative;
        left: 1em;
      }
      
      .pastille {
        bottom: 0.1em;
        z-index: 3;
      }
      
      #filtres img {
        width: 1em;
        z-index: 2;
      }
      
      .cercle {
        background-color: #DEEBFF;
        border-radius: 50%;
        width: 3em;  
        height: 3.00em;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      /* -------------------------------------- filtre_fam */
      
      #filtre_fam {
        border: 0.2em solid #F2F2F2;
        border-radius: 2em;
        width: 9em;
        height: 2.5em;
        display: flex;
        align-items: center;
        text-align: justify;
      }
      
      #filtre_fam:hover {
        border: 0.2em solid #F2F2F2;
        background-color: #0065FC;
        border-radius: 2em;
        width: 9em;
        height: 2.5em;
        flex-direction: row-reverse;
        justify-content: space-between;
        color: white;
      }
      
      #filtre_fam h2 {
        position: relative;
        left: 1em;
      }
      
      /* -------------------------------------- filtre_rom */
      
      #filtre_rom {
        border: 0.2em solid #F2F2F2;
        border-radius: 2em;
        width: 11em;
        height: 2.5em;
        display: flex;
        align-items: center;
        text-align: justify;
      }
      
      #filtre_rom:hover {
        border: 0.2em solid #F2F2F2;
        background-color: #0065FC;
        border-radius: 2em;
        width: 11em;
        height: 2.5em;
        flex-direction: row-reverse;
        justify-content: space-between;
        color: white;
      }
      
      #filtre_rom h2 {
        position: relative;
        left: 1em;
      }
      
      /* -------------------------------------- filtre_anim */
      
      #filtre_anim {
        border: 0.2em solid #F2F2F2;
        border-radius: 2em;
        width: 14em;
        height: 2.5em;
        display: flex;
        align-items: center;
        text-align: justify;
      }
      
      #filtre_anim:hover {
        border: 0.2em solid #F2F2F2;
        background-color: #0065FC;
        border-radius: 2em;
        width: 14em;
        height: 2.5em;
        flex-direction: row-reverse;
        justify-content: space-between;
        color: white;
      }
      
      #filtre_anim h2 {
        position: relative;
        left: 1em;
      }
      
      #info {
        display: flex;
        justify-content: space-between;
        width: 25em;
      }
      
      #logo_info {
        width: 1.5em;
      }
      
      /* ------------------------------------------------------------------------------ section_1 */
      
      #section_1 {
        display: flex;
        flex-direction: column-reverse;
        height: 100em;
      }
      
      /* ------------------------------------------------------------ hébergements */
      
      #hebergements {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        border: 1px solid red;
        border-radius: 1em;
        padding: 2%;
        height: 50em;
        background-color: white;
      }
      
      #hebergements h1 {
        position: relative;
      }
      
      #vignettes {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 50em;
        height: 50em;
        justify-content: space-between;
        align-items: center; 
        position: relative;
      }
      
      .légendes {
        padding-left: 7%; 
        line-height: 20%;
        /* border: 1px solid green; */
      }
      
      /* -------------------------------------- cannebière */
      #cannebière_fond { 
        background-color: white;
        border-radius: 1em;
        width: 15em;
        height: 12em;
        padding: 0.25em;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 25%);
      }
      
      #cannebière_photo {
        width: 15em;
        border-top-left-radius: 1em; border-top-right-radius: 1em;
      }
      
      /* #cannebière_légende {
        padding-left: 7%; 
        line-height: 20%;   
      } */
      
      .quatre_étoiles {
        width: 35%;
        position: relative;
        bottom: 5px;
      }
      
      /* -------------------------------------- port */
      
      #port_fond { 
        background-color: white;
        border-radius: 1em;
        width: 15em;
        height: 12em;
        padding: 0.25em;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 25%);
      }
      
      #port_photo {
        width: 15em;
        border-top-left-radius: 1em; border-top-right-radius: 1em;
      }
      
      /* #port_légende {
        padding-left: 7%; 
        line-height: 20%;   
      } */
      
      .cinq_étoiles {
        width: 35%;
        position: relative;
        bottom: 5px;
      }
      
      /* -------------------------------------- mouettes */
      
      #mouettes_fond { 
        background-color: white;
        border-radius: 1em;
        width: 15em;
        height: 12em;
        padding: 0.25em;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 25%);
      }
      
      #mouettes_photo {
        width: 15em;
        border-top-left-radius: 1em; border-top-right-radius: 1em;
      }
      
      /* #mouettes_légende {
        padding-left: 7%; 
        line-height: 20%; 
      } */
      
      .quatre_étoiles {
        width: 35%;
        position: relative;
        bottom: 5px;
      }
      
      /* -------------------------------------- mer */
      
      #mer_fond { 
        background-color: white;
        border-radius: 1em;
        width: 15em;
        height: 12em;
        padding: 0.25em;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 25%);
      }
      
      #mer_photo {
        width: 15em;
        border-top-left-radius: 1em; border-top-right-radius: 1em;
      }
      
      /* #mer_légende {
        padding-left: 7%; 
        line-height: 20%; 
      } */
      
      .trois_étoiles {
        width: 35%;
        position: relative;
        bottom: 5px;
      }
      
      /* -------------------------------------- panier */
      
      #panier_fond { 
        background-color: white;
        border-radius: 1em;
        width: 15em;
        height: 12em;
        padding: 0.25em;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 25%);
      }
      
      #panier_photo {
        width: 15em;
        border-top-left-radius: 1em; border-top-right-radius: 1em;
      }
      
      /* #panier_légende {
        padding-left: 7%; 
        line-height: 20%; 
      } */
      
      .quatre_étoiles {
        width: 35%;
        position: relative;
        bottom: 5px;
      }
      
      /* -------------------------------------- amina */
      
      #amina_fond { 
        background-color: white;
        border-radius: 1em;
        width: 15em;
        height: 12em;
        padding: 0.25em;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 25%);
      }
      
      #amina_photo {
        width: 15em;
        border-top-left-radius: 1em; border-top-right-radius: 1em;
      }
      
      /* #amina_légende {
        padding-left: 7%; 
        line-height: 20%; 
      } */
      
      .cinq_étoiles {
        width: 35%;
        position: relative;
        bottom: 5px;
      }
      
      /* ------------------------------------------------------------ les_plus_populaires */
      
      #les_plus_populaires {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:  #F2F2F2;
        border-radius: 1em;
        width: 100%;
        padding-bottom: 2em;
        padding-top: 1em;
        /* border: 1px solid blue; */
      }
      
      #ensemble_vignettes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid red; */
        height: 600px;
      }
      
      #titre_chart {
        display: flex;
        justify-content: space-between;
        width: 403px;
        /* border: 1px solid green; */
      }
      
      #les_plus_populaires h1 {
        position: relative;
      }
      
      .vignette {
        display: flex;
        border: 1px solid white;
        border-radius: 1em;
        background-color: white;
        height: 10em;
        width: 25em;
        box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 25%);
      }
      
      .populaire_photos {
        max-width: 300px;
        border-top-left-radius: 1em;
        border-bottom-left-radius: 1em;
        width: 12em;
        border: 3px solid white; 
      }
      
      #les_plus_populaires figcaption {
        padding-left: 1em;
        padding-right: 1em;
        word-wrap: break-word;
        /* border: 1px solid red; */
      }
      
      .étoiles_pop {
        width: 4em;
        padding-top: 2.5em;
      }
      
      #lien_externe {
        width: 1.5em;
      }
      
      
      /* ------------------------------------------------------------------------------ section_2 */
      
      #Activités_à_Marseille {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 2em;
      }
      
      #section_2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* border: 0.25em solid red; */
        height: 27em;
      }
      
      .vignettes_act {
        display: flex;
        flex-direction: column;
        border-radius: 1em;
        box-shadow: 0px 5px 10px 0px rgba(100, 100, 100, 25%);
      }
      
      .vignettes_act img {
        width: 300px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
      }
      
      #deuxième_colonne {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      #quatrième_colonne {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      
      .vignettes_act h3 {
        padding-left: 1.5em;
      }
      
      /* ------------------------------------------------------------------------------ footer */
      
      footer {
        display: flex;
        border: 1px solid red; 
        margin-top: 3em;
        height: 13em;
        background-color: #F2F2F2;
        width: 50em;
      }
      
      #zone_textes {
        border: 1px solid blue;
        display: flex;
        align-items: center;
        margin-left: 3em;
        width: 50em;
      
      }
      
      #zone_textes p {
        list-style-type: none;
        justify-content: flex-start;
        border: 1px solid purple;
      }
      
      #tous_textes {
        display: flex;
        width: 65em;
        border: 1px solid orange;
        justify-content: space-between;
      }
}