@font-face {
  font-family: 'Raleway';
  src: url('static/Raleway-Regular.ttf');
  src: url('static/Raleway-Bold.ttf');
}

body { 
  border: black, 1px;
  font-family: 'Raleway';
  margin: auto;
  margin-top: 2%;
  width: 75%;
}

header {
display: flex;
justify-content: space-between;
}

p {
  font-size: 0.75em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.0em;
}

h3 {
  font-size: 1em;
}

#logo {
  width: 15%;
}

#haut_gauche {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#haut_droite {
  display: flex;
  justify-content: space-between;
  width: 25%;
  padding-right: 4%;
}

a:hover {
  color:  #0065FC;
}

#sinscrire {
  font-family: 'Raleway';
  font-weight: bold;
  color: #0065FC;
}

#barre_recherche {
  display: flex;
  height: 2.75em; 
}

#marker {
  background-color: #F2F2F2;
  width: 1em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

#recherche {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 1em;
  border: 1px,  #F2F2F2;
}

button {
  background-color: #0065FC;
  color: white;
  width: 25%;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border: white;
  font-size: 1.25em;
  font-family: 'Raleway';
}

button h2 {
  position: relative;
  bottom: 0.4em;
}

#filtres {
  display: flex;
  justify-content: space-between;
  width: 150%;
  height: 5em;
  padding-top: 3em;
}

#filtres img {
  width: 1em;
  z-index: 2;
  position: relative;
  bottom: 1em;
  left: 0.15em;
}

.cercles {
  background-color: #DEEBFF;
  border-radius: 50%;
  width: 2.5em;  
  height: 2.5em;
  position: relative;
  left: 3.6em;
  top: 0.18em;
  z-index: 1;
}

#hebergements {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  border: #F2F2F2;
  background-color:  #F2F2F2;
  border-radius: 1em;
  width: 50em;
  padding: 2%;
}

#vignettes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50em;
  height: 28em;
  justify-content: space-between;
  align-items: center; 
}
/* ------------------------------------------------------------ cannebière */
#cannebière_fond { 
  background-color: white;
  border-radius: 1em;
  width: 15em;
  height: 11.5em;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px 5px rgba(100, 100, 100, 25%);
}

#cannebière_photo {
  width: 15em;
  border-top-left-radius: 1em; border-top-right-radius: 1em;
}

#cannebière_légende {
  padding-left: 7%; 
  line-height: 20%;   
}

.quatre_étoiles {
  width: 35%;
  position: relative;
  bottom: 5px;
}
/* ------------------------------------------------------------ port */
#port_fond { 
  background-color: white;
  border-radius: 1em;
  width: 15em;
  height: 11.5em;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px 5px rgba(100, 100, 100, 25%);
}

#port_photo {
  width: 15em;
  border-top-left-radius: 1em; border-top-right-radius: 1em;
}

#port_légende {
  padding-left: 7%; 
  line-height: 20%;   
}

.cinq_étoiles {
  width: 35%;
  position: relative;
  bottom: 5px;
}
/* ------------------------------------------------------------ mouettes */
#mouettes_fond { 
  background-color: white;
  border-radius: 1em;
  width: 15em;
  height: 11.5em;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px 5px rgba(100, 100, 100, 25%);
}

#mouettes_photo {
  width: 15em;
  border-top-left-radius: 1em; border-top-right-radius: 1em;
}

#mouettes_légende {
  padding-left: 7%; 
  line-height: 20%; 
}

.quatre_étoiles {
  width: 35%;
  position: relative;
  bottom: 5px;
}
/* ------------------------------------------------------------ mer */
#mer_fond { 
  background-color: white;
  border-radius: 1em;
  width: 15em;
  height: 11.5em;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px 5px rgba(100, 100, 100, 25%);
}

#mer_photo {
  width: 15em;
  border-top-left-radius: 1em; border-top-right-radius: 1em;
}

#mer_légende {
  padding-left: 7%; 
  line-height: 20%; 
}

.trois_étoiles {
  width: 35%;
  position: relative;
  bottom: 5px;
}
/* ------------------------------------------------------------ panier */
#panier_fond { 
  background-color: white;
  border-radius: 1em;
  width: 15em;
  height: 11.5em;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px 5px rgba(100, 100, 100, 25%);
}

#panier_photo {
  width: 15em;
  border-top-left-radius: 1em; border-top-right-radius: 1em;
}

#panier_légende {
  padding-left: 7%; 
  line-height: 20%; 
}

.quatre_étoiles {
  width: 35%;
  position: relative;
  bottom: 5px;
}
/* ------------------------------------------------------------ amina */
#amina_fond { 
  background-color: white;
  border-radius: 1em;
  width: 15em;
  height: 11.5em;
  padding: 0.25em;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 15px 5px rgba(100, 100, 100, 25%);
}

#amina_photo {
  width: 15em;
  border-top-left-radius: 1em; border-top-right-radius: 1em;
}

#amina_légende {
  padding-left: 7%; 
  line-height: 20%; 
}

.cinq_étoiles {
  width: 35%;
  position: relative;
  bottom: 5px;
}

#matin {
  width: 12%;
  height: 12%;
}

#cœur {
  width: 12%;
  height: 12%;
}

#tout_bleu {
  width: 12%;
  height: 12%;
}

#vieux {
  width: 12%;
  height: 12%;
}

#fort {
  width: 12%;
  height: 12%;
}

#friout {
  width: 12%;
  height: 12%;
}

#calanques {
  width: 12%;
  height: 12%;
}

#notre_dame {
  width: 12%;
  height: 12%;
}

#longchamp {
  width: 12%;
  height: 12%;
}